# Virtual environments
venv/
ENV/
env/
.venv/

# Python caches
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.cache/
.pytest_cache/
pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# OS files
.DS_Store
.DS_Store?
.Thumbs.db

# IDEs
.idea/
.vscode/
.project
.classpath

# Logs
logs/
*.log
